main/python-project-50-main/.gitignore
main/python-project-50-main/.gitignore:Zone.Identifier
main/python-project-50-main/Makefile
main/python-project-50-main/Makefile:Zone.Identifier
main/python-project-50-main/pyproject.toml
main/python-project-50-main/pyproject.toml:Zone.Identifier
main/python-project-50-main/README.md
main/python-project-50-main/README.md:Zone.Identifier
main/python-project-50-main/ruff.toml
main/python-project-50-main/ruff.toml:Zone.Identifier
main/python-project-50-main/uv.lock
main/python-project-50-main/uv.lock:Zone.Identifier
main/python-project-50-main/.github/workflows/hexlet-check.yml
main/python-project-50-main/.github/workflows/hexlet-check.yml:Zone.Identifier
main/python-project-50-main/.github/workflows/my_workflow.yml
main/python-project-50-main/.github/workflows/my_workflow.yml:Zone.Identifier
main/python-project-50-main/.github/workflows/README.md
main/python-project-50-main/.github/workflows/README.md:Zone.Identifier
main/python-project-50-main/gendiff/__init__.py
main/python-project-50-main/gendiff/__init__.py:Zone.Identifier
main/python-project-50-main/gendiff/formatters/format_identifier.py
main/python-project-50-main/gendiff/formatters/format_identifier.py:Zone.Identifier
main/python-project-50-main/gendiff/formatters/json_formatter.py
main/python-project-50-main/gendiff/formatters/json_formatter.py:Zone.Identifier
main/python-project-50-main/gendiff/formatters/plain.py
main/python-project-50-main/gendiff/formatters/plain.py:Zone.Identifier
main/python-project-50-main/gendiff/formatters/stylish.py
main/python-project-50-main/gendiff/formatters/stylish.py:Zone.Identifier
main/python-project-50-main/gendiff/scripts/__init__.py
main/python-project-50-main/gendiff/scripts/__init__.py:Zone.Identifier
main/python-project-50-main/gendiff/scripts/find_diff.py
main/python-project-50-main/gendiff/scripts/find_diff.py:Zone.Identifier
main/python-project-50-main/gendiff/scripts/gendiff.py
main/python-project-50-main/gendiff/scripts/gendiff.py:Zone.Identifier
main/python-project-50-main/gendiff/scripts/generate_diff.py
main/python-project-50-main/gendiff/scripts/generate_diff.py:Zone.Identifier
main/python-project-50-main/gendiff/scripts/parser.py
main/python-project-50-main/gendiff/scripts/parser.py:Zone.Identifier
main/python-project-50-main/tests/test_gendiff.py
main/python-project-50-main/tests/test_gendiff.py:Zone.Identifier
main/python-project-50-main/tests/test_data/expected_result_json_format.txt
main/python-project-50-main/tests/test_data/expected_result_json_format.txt:Zone.Identifier
main/python-project-50-main/tests/test_data/expected_result_json.txt
main/python-project-50-main/tests/test_data/expected_result_json.txt:Zone.Identifier
main/python-project-50-main/tests/test_data/expected_result_plain.txt
main/python-project-50-main/tests/test_data/expected_result_plain.txt:Zone.Identifier
main/python-project-50-main/tests/test_data/expected_result_yaml.txt
main/python-project-50-main/tests/test_data/expected_result_yaml.txt:Zone.Identifier
main/python-project-50-main/tests/test_data/file1.json
main/python-project-50-main/tests/test_data/file1.json:Zone.Identifier
main/python-project-50-main/tests/test_data/file1.yaml
main/python-project-50-main/tests/test_data/file1.yaml:Zone.Identifier
main/python-project-50-main/tests/test_data/file2.json
main/python-project-50-main/tests/test_data/file2.json:Zone.Identifier
main/python-project-50-main/tests/test_data/file2.yaml
main/python-project-50-main/tests/test_data/file2.yaml:Zone.Identifier
